venv/
.env


 <button type="button"> <a href="{% url 'posts:update' %}" class ="btn btn-success">Edit</a></button>
                  <button type="button"> <a href="{% url 'posts:delete' %}" class ="btn btn-danger">Delete</a></button>
