<div class="container-fluid">
  <div class="header">
    <div class="sides">
      <a href="#" class="logo">TWB</a>
    </div>
    <header>
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
      
          <div class="collapse navbar-collapse" id="navbarExample01">
            <div class="col-sm-4 col-md-4 navbar-right">
  
      </div>
      
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="{% url 'posts:home' %}">Home</a></li>
    
          {% if user.is_authenticated %}
    
                <li>
                  <a href="{% url 'posts:create' %}">Create Post</a>
                </li>
                <li>
                  <a href="{% url 'posts:logout' %}">Logout</a>
                </li>
            
          </ul>
          {% else %}
          <li>
            <a href="{% url 'posts:signin' %}">Login</a>
          </li>
          
          <li>
            <a href="{% url 'posts:signup' %}">Sign Up</a>
          </li>
          {% endif %}
        </ul>
        
        <div class="input-group">
          <form method="GET" action="">
            <input type="text" name="q" placeholder="Search Posts" value="{{ request.GET.q }}"/>
            <input type="submit" value="Search"/>             
          </form>
        </div>

    </form>
      </div>
          </div>
        </div>
      </nav>
    </header>
    
    <div class="info">
      <h2 class="mb-3">THE WANDERER BLOG</h2>
      <h3 class="mb-3">A Place For Every Wanderer At Heart To Share With Fellow Wanderers</h3>
    </div>
  </div>
</div>